body{
    background-color: #3B3B3B;
    font-size: 14px;
}
.Imagem{
    background-image:radial-gradient( rgba(10,10,10,0.7) , rgba(10,10,10,0.7) ), url(../img/CidadePederneiras.jpeg);
    background-size: cover;
    width: 100%;
    height: 41rem;
}
.ComuniQ1{
    color: aqua;
}
.escrita1{
    color: #ffffff;
}
.DivTexto1{
    width: 190px;
    height: 60px;
    margin-left: 230px;
    padding-top: 50px; 
    text-align: center;
    font-size:600;
    font-weight: 20;
}
.escrita2{
    color: #ffffff;
}
.DivTexto2{
    width: 550px;
    height: 130px;
    margin-left: 100px;
    margin-top: 20px;
    font-size:100px;
    font-weight:400;
}
.Divbtn{
    margin-left: 150px;
    margin-top: 30px;
}
.btn{
    width: 400px;
    height: 150px;
    font-size:50px;
    font-weight:80;
    border-radius: 10px;
}
.escrita3{
    color: #ffffff;
}
.DivTexto3{
    width: 290px;
    height: 60px;
    margin-left: 190px;
    padding-top: 30px; 
    text-align: center;
    font-size:600;
    font-weight: 20;
}
.DivImg{
    margin-top: -11rem;
}
.GooglePlay{
    
    width: 150px;
    height: 60px; 
}
.app{
    margin-top: -685px;
    width: 27rem;
    height: 57rem;
    margin-left: 54rem;
    object-fit: contain;
}