body{
    background-color: #ffffff;
    font-size: 14px;
}
.Imagem{
    background-image:radial-gradient( rgba(10,10,10,0.7) , rgba(10,10,10,0.7) ), url(../img/CidadePederneiras.jpeg);
    background-size: cover;
    width: 100%;
    height: 41rem;
}
.ComuniQ1{
    color: aqua;
}
.escrita1{
    color: #ffffff;
}
.DivTexto1{
    width: 190px;
    height: 60px;
    margin-left: 230px;
    /* margin-top: 80px; */
    text-align: center;
    font-size:600;
    font-weight: 20;
}
.escrita2{
    color: #ffffff;
}
.DivTexto2{
    width: 550px;
    height: 130px;
    margin-left: 100px;
    margin-top: 20px;
    font-size:100px;
    font-weight:400;
}
.Divbtn{
    margin-left: 230px;
    margin-top: 80px;
}
.btn{
    width: 190px;
    height: 100px;
    font-size:100px;
    font-weight:400;
}